@model Capa_entidades.usuarios

@{
    ViewBag.Title = "REGISTRO";
}

>


@using (Html.BeginForm("REGISTRO", "login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Styles.Render("~/Content/css/sb-admin-2.min.css")
    //<link href="css/sb-admin-2.min.css" rel="stylesheet">
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crear una Cuenta</h1>
                            </div>
                            <form class="user">



                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                               placeholder="Nombre" name="Nombre">
                                    </div>


                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                           placeholder="Correo" name="Correo">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                               id="Password1" placeholder="Contraseña">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                               id="Password2" placeholder="Repetir Contraseña" name="contraseña" onkeyup="ConfirmarContrasena()">
                                        <p id="Texto2"></p>

                                    </div>
                                    @* Alerta del Correo repetido *@
                                    @if (ViewBag.Error != null)
                                    {
                                        <div style="margin: 20px 0px;" class="alert alert-warning" role="alert">
                                            @ViewBag.Error
                                        </div>
                                    }
                                </div>

                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary btn-lg" id="btnConfirmar" disabled>
                                        Registrarme
                                    </button>
                                </div>


                                @*<hr>
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Register with Google
                                    </a>
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                    </a>*@
                            </form>
                            @*<hr>*@
                            @*<div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>*@
                            <div style="padding: 10px;" class="text-center">
                                @Html.ActionLink("¿Tienes una cuenta? Inicia sesión", "login", "login")
                                @*<a class="small" href="login.html">Already have an account? Login!</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
}


<script>

    // FUNCION DE VALIDACION DE CAMPOS DE CONTRASENA

    function ConfirmarContrasena() {

        // CREACION DE VARIABLES QUE ALMACENA LOS CAMPOS DE CONTRASENA.
        const p1 = document.getElementById("Password1").value;
        const p2 = document.getElementById("Password2").value;

        // CONDICION QUE ME VALIDA A TRAVES DE UN EVENTO ONKEYUP SI AMBOS VALORES
        // DE LOS INPUTS SON IGUALES

        if (p1 != p2) {
            document.getElementById('Texto2').textContent = "Los campos no coinciden";
            document.getElementById('Texto2').style.color = "darkred";
            document.getElementById('btnConfirmar').disabled = true;


        } else {
            document.getElementById('Texto2').textContent = "Todo es correcto";
            document.getElementById('Texto2').style.color = "green";
            document.getElementById('btnConfirmar').disabled = false;

        }

        // EN CASO DE ELIMINAR TODO EL CONTENIDO DEL INPUT CONFIRMAR CONTRASENA
        // ME ELIMINARA EL TEXTO QUE ME CONFIRMA LA VALIDACION DE LA CONTRASENA.

        if (p2 === "" || p2 === null) {
            document.getElementById('Texto2').textContent = "";
        }

    }

</script>