
<footer style=" position: absolute; bottom: 0px; width: 100%;" class="py-5 bg-dark">

    @{
        DateTime date = DateTime.Now;
        string An = date.ToString("yyyy");
    }

    <div class="container"><h5 class="m-0 text-center text-white">MarketPlace &copy; @An</h5></div>


</footer>

